/* Global styles */
:host {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:host ::ng-deep {
  width: 100%;
  height: 100%;
}

:host ::ng-deep router-outlet + * {
  width: 100%;
  height: 100%;
}
